form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 0.8rem;
    box-sizing: border-box; // Add this
    padding: 0 20px; // Add this for some spacing from edges
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 750px;

    .caution-message{
        padding-top: 5px;
        color: var(--text-secondary);
        font-size: 12px;
    }

    .input-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        position: relative;

        textarea {
            display: flex;
            box-sizing: border-box;
            align-items: center;
            flex-grow: 1;
            max-width: 750px;
            min-height: 60px;
            max-height: 230px;
            border-radius: 30px;
            border: none;
            background-color: var(--surface-color);
            padding: 13px 55px;
            resize: none;
            outline: none;
            color: var(--text-primary);
            font-size: 16px;
            line-height: 2;
            padding-left: 30px;

            &::placeholder {
                color: var(--text-primary);
                text-align:left;
                opacity: 0.5;
            }

           // For Webkit browsers (Chrome, Safari, newer versions of Edge)
           &::-webkit-scrollbar {
            width: 8px;  // width of the scrollbar
            }

            &::-webkit-scrollbar-track {
                background: transparent;  // background of the track
                margin: 40px;  // adds some space from top and bottom
                padding: 15px 0;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(255, 255, 255, 0.3);  // color of the scroll thumb
                border-radius: 4px;  // rounded corners
            }

            &::-webkit-scrollbar-thumb:hover {
                background: rgba(255, 255, 255, 0.5);  // color when hovering
                cursor: default;
            }
        }

        #send-button {
            position: relative;
            top: -15px;
            right: 40px;
            background: none;
            border: none;
            color: var(--text-primary);
            opacity: 1;
            cursor: pointer;
            transform: rotate(-90deg);

            &:disabled {
                cursor: default;
            }

            &:hover {
                opacity: 0.5 !important;
            }
        }
    }
}