.app {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

.icon {
  color: white;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #1E1E1E;
  padding: 20px 0;
  width: 70px;
  padding-left: 1.2rem;
  transition: width 0.3s ease;
}
.sidebar .icon-text {
  display: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.active {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 1.2rem;
  width: 200px;
}
.sidebar.active .icon-text {
  display: block;
}
.sidebar.active #add-button-icon {
  padding-right: 0.5em;
}
.sidebar .spacer {
  flex-grow: 1;
}
.sidebar .icon {
  color: white;
  margin-top: 0.3rem;
}
.sidebar #menu-icon {
  position: relative;
  left: 5px;
  color: #d4d4d4;
}
.sidebar #menu-icon::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0;
  transform: scale(1);
}
.sidebar #menu-icon:hover::before {
  opacity: 0.15;
  transform: scale(1.6);
}
.sidebar #add-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.1em;
  border-radius: 20px;
  background-color: #3b3b3b;
  margin-top: 40px;
}
.sidebar #settings-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sidebar #settings-button-icon::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0;
  transform: scale(1);
}
.sidebar #settings-button-icon:hover::before {
  opacity: 0.15;
  transform: scale(1.4);
}

.main-content {
  background-color: #161616;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.header h1 {
  font-size: 23px;
  color: white;
  font-weight: 200;
}
.header .profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #6B54C7;
  border-radius: 30px;
  cursor: pointer;
}
.header .profile-icon::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0;
  transform: scale(1);
  transition: all 0.3s ease;
}
.header .profile-icon:hover::before {
  opacity: 0.13;
  transform: scale(1.4);
}

.middle-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  min-height: 525px;
  flex: 1;
  position: relative;
}

.greeting {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.greeting h2 {
  font-size: 30px;
  background-image: linear-gradient(to right, #4169E1, #6B54C7, #B85F9A 50%, #EE3144);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}/*# sourceMappingURL=ChatApp.css.map */