$nabvar-color: #161616;
$main-section-color: #1E1E1E;
$darkgrey-color: #d4d4d4;


//Whole app container

.app {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

.icon {
    color: white;
    cursor: pointer;
}

//Side bar

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: $nabvar-color;
    padding: 20px 0;
    width: 70px;
    padding-left: 1.2rem;
    transition: width 0.3s ease;

    .icon-text {
        display: none;
        color: white;
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }

    &.active {
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;
        padding-left: 1.2rem;
        width: 200px;

        .icon-text {
            display: block;
        }

        #add-button-icon {
            padding-right: 0.5em;
        }
    }

    .spacer {
        flex-grow: 1;
      }

    .icon {
        color: white;
        margin-top: 0.3rem;
    }

    #menu-icon {
        position: relative;
        left: 5px;
        color: $darkgrey-color;

        &::before {
            content: '';
            position: absolute;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: currentColor;
            opacity: 0;
            transform: scale(1);
          }

          &:hover::before {
            opacity: 0.15;
            transform: scale(1.6);
          }
    }

    #add-button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: fit-content;
        padding: 0.1em;
        border-radius: 20px;
        background-color: #3b3b3b;
        margin-top: 40px;
    }

    #settings-button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &::before {
            content: '';
            position: absolute;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            background-color: currentColor;
            opacity: 0;
            transform: scale(1);
          }

          &:hover::before {
            opacity: 0.15;
            transform: scale(1.4);
          }
    }
}

//Main Content

.main-content {
    background-color: $main-section-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

    h1 {
        font-size: 23px;
        color: white;
        font-weight: 200;
    }

    .profile-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #6B54C7;
        border-radius: 30px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: currentColor;
            opacity: 0;
            transform: scale(1);
            transition: all 0.3s ease;
        }

        &:hover::before {
            opacity: 0.13;
            transform: scale(1.4);
        }
    }
}

.middle-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    min-height: 525px;
    flex: 1;
    position: relative;
}

.greeting {
    height: 85%;
    display: flex;
    align-items: center;
    font-size: 25px;
    background-image: linear-gradient(to right, #4169E1, #6B54C7, #B85F9A 50%, #EE3144);
    background-clip: text;
    color: transparent;
}

