$main-section-color: #212121;


//Whole app container
.app {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    width: 100%;
}

//Main Content

.main-content {
    background-color: var(--background-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.middle-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    min-height: 525px;
    flex: 1;
    position: relative;
}

.greeting {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;

    h2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 45px;
        color: #777;

        .greeting-text{
            background-image: linear-gradient(to right, #4169E1, #6B54C7, #B85F9A 50%, #EE3144);
            background-clip: text;
            color: transparent;
        }
    }
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width:600px) {

    .main-content {
        width: 100vw;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;

        .left-section {
            justify-self: flex-end;
        }

        .right-section {
            justify-self: flex-end;
        }
    }

    .greeting {
        box-sizing: border-box;
        padding: 0 30px;
        padding-bottom: 100px;

        h2 {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 20px;
            color: #777;

            .greeting-text{
                width: 100%;
                text-align: center;
            }
        }
    }

    .cards {
        display: none;
    }
}

