.llm-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    overflow: hidden;
}

.llm-icon img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 50%;
}
