* {
  padding: 0;
  margin: 0;
}

p {
  font-size: 16px;
}

:root {
  --font-size-small: 14px;
  --font-size-regular: 16px;
  --font-size-large: 18px;
}

:root[data-theme="dark"] {
  /* Light theme variables */
  --background-primary: hsl(0, 0%, 5%);
  --background-secondary: hsl(0, 0%, 11%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(0, 0%, 70%);
  --surface-color: hsl(0, 0%, 15%);
  --border-color: hsl(0, 0%, 25%);
  --acent-color: hsl(0, 0%, 40%);
}

:root[data-theme="light"] {
  --background-primary: hsl(0, 0%, 95%);
  --background-secondary: hsl(0, 0%, 85%);
  --text-primary: hsl(0, 0%, 0%);
  --text-secondary: hsl(0, 0%, 30%);
  --surface-color: hsl(0, 0%, 85%);
  --border-color: hsl(0, 0%, 75%);
  --acent-color: hsl(0, 0%, 75%);
}